@import "jquery.fancybox.css";
@import "normalize.css";
@import "global.css";
@import "layout.css";

ul#grid{background:url("assets/BG-grid.gif") repeat scroll left top green;display:none;height:100%;list-style-type:none;margin:0 auto;opacity:.3;padding:0;position:fixed;top:0;left:0px;z-index:1000;font-size:8px;line-height:8px;width:1056px;right:0;}
ul#grid li{background:url("assets/BG-grid.gif") repeat scroll left top red;height:100%;display:inline;float:left;padding:0;margin-left:16px;margin-right:16px;width:96px}
ul#grid li:first-child{margin-left:32px}
ul#grid li:nth-child(n+9){display:none}


/* ROOM
-------------------------------------------------------------- */

body.room ul#grid{background-color:gray;width:768px;}
body.room ul#grid li{margin-left:16px;margin-right:16px;width:152px}
body.room ul#grid li:first-child{margin-left:32px}
body.room ul#grid li:nth-child(n+5){display:none}