{% extends '_base.html' %}

{% block title %} Receptionist {% endblock %}

{% block css %}{% endblock %}

{% block basepage %}receptionist{% endblock %}
{% block baseclass %}receptionist-view{% endblock %}

{% block content %}

	<!-- - - - - - - - - - MODALS - - - - - - - - - -->

	<div id="add-practitioner" style="display: none;">
		<form action="/doctors/add-doctor" method="post">{% csrf_token %}
			<div class="fieldrow text-row">
				{{ add_doctor_form.first_name.label_tag }} {{ add_doctor_form.first_name }}
			</div>
			<div class="fieldrow text-row">
				{{ add_doctor_form.last_name.label_tag }} {{ add_doctor_form.last_name }}
			</div>
			<div class="fieldrow text-row">
				{{ add_doctor_form.speciality.label_tag }}{{ add_doctor_form.speciality }}
			</div>
			<div class="fieldrow text-row">
				{{ add_doctor_form.status.label_tag }}{{ add_doctor_form.status }}
			</div>
	        <input type="submit" value="Add Practitioner" />
		</form>
	</div>
	<div id="add-patient" style="display: none;">
		<form action="/patients/add-patient" method="post">{% csrf_token %}
			<div class="fieldrow text-row">
				{{ add_patient_form.first_name.label_tag }} {{ add_patient_form.first_name }}
			</div>
			<div class="fieldrow text-row">
				{{ add_patient_form.last_name.label_tag }} {{ add_patient_form.last_name }}
			</div>
			<div class="fieldrow text-row">
				{{ add_patient_form.doctor.label_tag }}{{ add_patient_form.doctor }}
			</div>
			<div class="fieldrow text-row">
				{{ add_patient_form.app_time.label_tag }}{{ add_patient_form.app_time }}
			</div>
			<div class="fieldrow text-row">
				{{ add_patient_form.app_length.label_tag }}{{ add_patient_form.app_length }}
			</div>
	        <input type="submit" value="Add Patient" />
		</form>
	</div>

	<!-- - - - - - - - - - CONTENT STARTS - - - - - - - - - -->

	<div class="content">
		
		<section class="col-half" id="rooms">
			{% for appt in appts %}
			<div class="room {% if appt.room.status == 'Waiting' %}blue{% endif %}
			{% if appt.room.status == 'Available' %}green{% endif %}
			{% if appt.room.status == 'Needs Cleaning' %}yellow{% endif %}
			{% if appt.room.status == 'Occupied' %}red{% endif %}
			{% if appt.room.status == 'Unavailable' %}gray{% endif %}">
				<span class="room-number">{{ appt.room.number }}</span>
				<p class="patient">
					<span class="name">{{ appt.patient }}</span>
					<span class="practitioner-name">{{ appt.doctor }}</span>
					<span class="room-number">{{ appt.room.number }}</span>
					<span class="arrived">{{ appt.patient.arrival_time|date:"g:iA" }}</span>
					<span class="appt-start">{{ appt.app_time|date:"g:iA" }}</span>
					<!-- <span class="appt-length">11 / 20</span> -->
					<!-- <span class="waiting-time">04 / 05</span> -->
				</p>
			</div>
			{% endfor %}
		</section>
		
		<section class="genbox col-half" id="practitioners">
			{% for doctor, appointments in mega_dict.items %}
			<form method="post" class="practitioner available" action="/doctors/update">
				{% csrf_token %}
				<input type="hidden" name="doctor_id" value="{{ doctor.id }}" />
				<input type="hidden" name="status" value="{{ doctor.status }}" />

				<p class="practitioner-name">{{ doctor }}</p>
				<ul class="inline patients">
					{% for appointment in appointments %}
					<li class="patient">
						<span class="name">{{ appointment.patient }}</span>
						<span class="practitioner-name">{{ doctor }}</span>
						<span class="room-number">
							{% if appointment.room.number %}
								{{ appointment.room.number }}
							{% else %}
								...
							{% endif %}
						</span>
						<span class="appt-start">{{ appointment.app_time|date:"g:iA" }}</span>
						<span class="arrived">{{ appointment.patient.arrival_time|date:"g:iA" }}</span>
						<span class="appt-length">{{ appointment.app_length }} min</span>
						<!-- <span class="waiting-time">04 / 05</span> -->
					</li>
					{% endfor %}
				</ul>
			</form>
			{% endfor %}
		</section>

	</div><!-- END .content -->

{% endblock %}

{% block javascript %}{% endblock %}