{% extends '_base.html' %}

{% block title %} Receptionist {% endblock %}

{% block css %}{% endblock %}

{% block content %}
	<fieldset>
		<legend>Add Practitioner</legend>
		<form action="/doctors/add-doctor" method="post">{% csrf_token %}
	        <table>
	            <tr>
	                <td>{{ add_doctor_form.first_name.label_tag }} {{ add_doctor_form.first_name }}</td>
	                <td>{{ add_doctor_form.last_name.label_tag }} {{ add_doctor_form.last_name }}</td>
	            </tr>
	            <tr>
	            	<td>{{ add_doctor_form.speciality.label_tag }}{{ add_doctor_form.speciality }}</td>
	            	<td>{{ add_doctor_form.status.label_tag }}{{ add_doctor_form.status }}</td>
	            </tr>
	        </table>
	        <input type="submit" value="Add Practitioner" />
		</form>
	</fieldset>

	<fieldset>
		<legend>Add Patient</legend>
		<form action="/patients/add-patient" method="post">{% csrf_token %}
	        <table>
	            <tr>
	                <td>{{ add_patient_form.first_name.label_tag }} {{ add_patient_form.first_name }}</td>
	                <td>{{ add_patient_form.last_name.label_tag }} {{ add_patient_form.last_name }}</td>
	            </tr>
	            <tr>
	            	<td>{{ add_patient_form.doctor.label_tag }}{{ add_patient_form.doctor }}</td>
				</tr>
	            <tr>
	            	<td>{{ add_patient_form.app_time.label_tag }}{{ add_patient_form.app_time }}</td>
	            	<td>{{ add_patient_form.app_length.label_tag }}{{ add_patient_form.app_length }}</td>
	            </tr>
	        </table>
	        <input type="submit" value="Add Patient" />
		</form>
	</fieldset>

	<fieldset>
		<legend>Patient Queue</legend>
		{% for doctor, appointments in mega_dict.items %}
			<form action="/doctors/update" method="post">
				{% csrf_token %}
				<input type="hidden" name="doctor_id" value="{{ doctor.id }}" />
				
			
				<table>
					<tr>
						<td>{{ doctor }}</td>
						<td><span class="doctor-status-button">{{ doctor.status }}</span><input type="hidden" name="status" value="{{ doctor.status }}" /></td>
					</tr>
				</table>
			</form>	
			<table>
			{% for appointment in appointments %}
				<tr>
					<td style="padding: 2px 30px">
						{{ appointment.patient }}
					</td>
					<td style="padding: 2px 30px">
					{% if appointment.room.number %}
						{{ appointment.room.number }}
					{% else %}
						Unassigned
					{% endif %}
					</td>
					<td style="padding: 2px 30px">
						{{ appointment.patient.arrival_time }} for
						{{ appointment.app_time }}
					</td>
					<td style="padding: 2px 30px">
						{{ appointment.app_length }} min
					</td>
				</tr>
			{% endfor %}
			</table>
			
		{% endfor %}

		
	</fieldset>

{% endblock %}

{% block javascript %}{% endblock %}