{% extends '_base.html' %}

{% block title %} Receptionist {% endblock %}

{% block css %}{% endblock %}

{% block content %}
	<fieldset>
		<legend>Add Practitioner</legend>
		<form action="/doctors/add-doctor" method="post">{% csrf_token %}
	        <table>
	            <tr>
	                <td>{{ add_doctor_form.first_name.label_tag }} {{ add_doctor_form.first_name }}</td>
	                <td>{{ add_doctor_form.last_name.label_tag }} {{ add_doctor_form.last_name }}</td>
	            </tr>
	            <tr>
	            	<td>{{ add_doctor_form.speciality.label_tag }}{{ add_doctor_form.speciality }}</td>
	            	<td>{{ add_doctor_form.status.label_tag }}{{ add_doctor_form.status }}</td>
	            </tr>
	        </table>
	        <input type="submit" value="Add Practitioner" />
		</form>
	</fieldset>

	<fieldset>
		<legend>Add Patient</legend>
		<form action="/patients/add-patient" method="post">{% csrf_token %}
	        <table>
	            <tr>
	                <td>{{ add_patient_form.first_name.label_tag }} {{ add_patient_form.first_name }}</td>
	                <td>{{ add_patient_form.last_name.label_tag }} {{ add_patient_form.last_name }}</td>
	            </tr>
	            <tr>
	            	<td>{{ add_patient_form.doctor.label_tag }}{{ add_patient_form.doctor }}</td>
				</tr>
	            <tr>
	            	<td>{{ add_patient_form.appt_time.label_tag }}{{ add_patient_form.appt_time }}</td>
	            	<td>{{ add_patient_form.appt_length.label_tag }}{{ add_patient_form.appt_length }}</td>
	            </tr>
	        </table>
	        <input type="submit" value="Add Patient" />
		</form>
	</fieldset>

	<fieldset>
		<legend>Edit Practitioner</legend>		
				{% for doctor in doctors %}
				<form action="/doctors/update" method="post">
					<input type="hidden" name="doctor_id" value="{{ doctor.id }}" />
					<input type="hidden" name="status" value="{{ doctor.status }}" />
					{% csrf_token %}
					<table>
					<tr>
						<td>{{ doctor }}</td>
						<td><span class="doctor-status-button">{{ doctor.status }}</span></td>
					</tr>
				</table>
				</form>
			{% endfor %}
	</fieldset>

{% endblock %}

{% block javascript %}{% endblock %}